@import './styles/style.css';

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
}

h3 {
  color: #499F36;
  font-style: italic;
  font-style: bold;
}

.app-container {
  background-color: #b8c7b0;
  text-align: center;
  width: 100%;
  position: relative;
  top: 0;
}

.main-view {
  flex-grow: 1;
  flex-direction: column;
  overflow-y: auto;
  margin-top: 100px;
}


.btn {
  color: #fff;
  background-color: #499F36;
  border-color: #38782a;
}

.btn-danger {
  background-color: rgb(240, 9, 9);
  color: #fff;
  border-color: rgb(246, 9, 9);
}

.btn:hover,
.btn:active,
.btn:focus {
  color: #fff;
  background-color: #38782a;
  border-color: #27511d;
}

.btn-danger:hover,
.btn-danger:active {
  background-color: rgb(216, 9, 9);
  color: #fff;
  border-color: rgb(220, 9, 9);
}

/* pagination css begin */

.page-item.active .page-link {
  color: #ffffff !important;
  border-color: #38782a;
  background: #38782a !important;
}

.pagination>li>a,
.pagination>li>a:hover,
.pagination>li>a:focus {
  background-color: #ffffff;
  color: #292b2c;
}

/* pagination css end */