@import "react-pro-sidebar/dist/css/styles.css";
@import "bootstrap/dist/css/bootstrap.min.css";

.App {
  text-align: center;
  background-color:#a5ce97;

}

h3{
  color: #499F36;
  font-style:italic;
  font-style: bold;
}

.btn{
  color:#fff;
  background-color: #499F36;
  border-color: #38782a;
}
.btn-danger{
  background-color: rgb(240, 9, 9);
  color:#fff;
  border-color: rgb(246, 9, 9);
}

.btn:hover, .btn:active, .btn:focus {
  color:#fff;
  background-color: #38782a;
  border-color: #27511d;
}

.btn-danger:hover , .btn-danger:active{
  background-color: rgb(216, 9, 9);
  color:#fff;
  border-color: rgb(220, 9, 9);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navbar{
  background-color:#38782a;
  padding-left: 20px;
  padding-right: 20px;
}

.pro-sidebar{
  color: #ffffff;
  background-color: #499F36;
}

/* Sidebar css */
.btn-toggle {
  display: none;
  color: #7eb06d;
  background: #499F36;
  cursor: pointer;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

@media (max-width: 768px) {
  .btn-toggle {
    display: flex;
  }
}

.sidebar-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;

}

.sidebar-btn {
  transition: width 0.3s;
  width: 150px;
  padding: 1px 15px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.05);
  color: #7eb06d;
  text-decoration: none;
  margin: 0 auto;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  overflow: hidden;

}