.feature-icon {
    color: #b8c7b0;
    background-color: #839d7c;
    padding: 10px;
    font-size: 100px;
}

.stat-icon {
    color: #b8c7b0;
    background-color: #839d7c;
    padding: 10px;
    font-size: 60px;
}